:root {
  --background-color: rgb(255, 255, 255);
  --color-texth: rgb(46, 47, 66);
  --color-textp: rgb(67, 68, 85);
  --color-textpheader: rgb(231, 233, 252);
  --color-textlogoheader: rgb(244, 244, 253);
  --color-buttonlogo: rgb(77, 90, 229);
  --color-hover: rgb(64, 75, 191);
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  /* --margin-card: 24px; */
}
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-texth);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* =====HEADER===== */

.logo {
  color: var(--color-buttonlogo);
}

.nav-links {
  color: var(--color-texth);
  font-weight: 500;
  transition: color 250ms var(--time-func);
}

.team-text {
  color: var(--color-textp);
  font-style: normal;
  text-align: center;
}

.address-text {
  color: var(--color-textp);
  font-style: normal;
  transition: color 250ms var(--time-func);
}

.futures-text {
  color: var(--color-textp);
  font-style: normal;
}

.logo-fontheader {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-texth);
}
.hover-nav:hover,
.hover-nav:focus {
  color: var(--color-hover);
}

/* =====HEADER===== */

/* =====MAIN===== */
.hover-secondpage:hover,
.hover-secondpage:focus {
  background: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--background-color);
  border-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-size: 56px;
  line-height: 1.08;
  color: var(--background-color);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero {
  background-color: var(--color-texth);
  padding: 188px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-btn {
  background-color: var(--color-buttonlogo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--time-func);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-hover);
}

.first-buttoncolor {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--background-color);
}

.button-secondpage {
  color: var(--color-buttonlogo);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 250ms var(--time-func),
    color 250ms var(--time-func), border 250ms var(--time-func),
    box-shadow 250ms var(--time-func);
}

.second-button .future-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 8px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.title-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.title-progect {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-texth);
  margin-bottom: 8px;
}

/* =====MAIN===== */

/* =====FOOTER===== */

.footer-container {
  background-color: var(--color-texth);
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-footer {
  color: var(--color-textpheader);
}

.logo-fontfooter {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-textlogoheader);
}
/* =====FOOTER===== */

.header-container {
  display: flex;
}
.navigation {
  display: flex;
}

.address-list {
  display: flex;
}
.address {
  margin-left: auto;
}

.team-list {
  display: flex;
  margin-left: 76px;
}
.team-lists {
  display: flex;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 40px;
}

.header {
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.our-futures-list {
  display: flex;
}
.our-futures-item:not(:last-child) {
  margin-right: 24px;
}

.future-title {
  margin-bottom: 8px;
}
.our-work {
  display: flex;
}
.section-title {
  text-align: center;
  padding-bottom: 72px;
}
.fotowork:not(:last-child) {
  margin-right: 24px;
}
.team-card {
  display: flex;
}

.foto-card:not(:last-child) {
  margin-right: 24px;
}
.foto-card {
  background-color: #ffffff;
}

.text-footer {
  width: 264px;
  margin-top: 8px;
}

.buttons:not(:last-child) {
  margin-right: 24px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  row-gap: 48px;
  column-gap: 24px;
}

.project-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 32px;
  padding-left: 16px;
  /* #e7e9fc; */
}
.project-item {
  /* margin-left: var(--margin-card); */
  /* flex-basis: calc(100% / 3 - var(--margin-card)); */
  min-width: 360px;
}

.section-text {
  padding-bottom: 32px;
  color: var(--color-textp);
}

.header-nav-address {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.current {
  position: relative;
  color: #404bbf;
}
.our-features-li {
  width: 264px;
}
.our-team-card {
  background-color: var(--color-textlogoheader);
}

.our-works-section {
  padding-top: 0;
}

.our-team-shadow {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.about-team-card {
  padding: 32px 16px;
}

.button {
  margin-bottom: 72px;
}
.section-button {
  padding-top: 96px;
}

/* ------dz-------- 4 */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--time-func);
}

.footer-container-item {
  display: flex;
}
.join-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-about {
  margin-right: 120px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.social-links {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--time-func);
}
.color {
  fill: #ffffff;
}
.feature-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.tittle-local {
  margin-bottom: 72px;
}
.company {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.company-team-list {
  width: 168px;
  height: 88px;
}
.company-team {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms var(--time-func);
}
.customers-color {
  fill: #8e8f99;
  transition: fill 250ms var(--time-func);
}

.company-team:hover .customers-color,
.company-team:focus .customers-color {
  fill: #404bbf;
}

.company-team:hover,
.company-team:focus {
  border: 1px solid #404bbf;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-links:hover,
.social-links:focus {
  background: #31d0aa;
}
.project-item:hover,
.project-item:focus {
  display: block;
  outline: transparent;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ------dz 4 -------*/
/*------- dz 5 ------*/

/* модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity 250ms var(--time-func), visibility 250ms var(--time-func);
  /* настройка бекдропа */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* добавляет is-hidden */
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.6);
  /* позиционирование модального окна */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* позиция по центру 4 верхние */
  max-width: 408px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* само модальное окно */
}

.modal-btn {
  display: flex;
  padding: 8px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms var(--time-func),
    fill 250ms var(--time-func), border 250ms var(--time-func);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  /* позиционирование кнопки */
}
/* модальное окно */

/* 1 */
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  /* черточка */
}

.project-image-thumb {
  position: relative;
  overflow: hidden;
}
.text-cards {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms var(--time-func);
  display: flex;
  padding: 40px 32px 0 32px;
}

.project-functional:hover .text-cards,
.project-functional:focus .text-cards {
  transform: translateY(0);
}

/* --------HOVER--------- */

.color-x:hover,
.color-x:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border-color: #404bbf;
}

/* --------HOVER------- */

/*--------- MODAL ---------*/

.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity 250ms var(--time-func), visibility 250ms var(--time-func);
}

/* 6666666666666666666 */

.modal-svg {
  position: absolute;
  top: 50%;
  left: 19px;
  transition: fill 250ms var(--time-func);
}
.modal-input {
  width: 100%;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  max-height: 40px;
  transition: border 250ms var(--time-func), filter 250ms var(--time-func);
  outline: none;
}
.modal-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  transition: border 250ms var(--time-func), filter 250ms var(--time-func);
  outline: none;
}

.modal-description {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-span {
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-text-privacy {
  text-decoration-line: underline;
  color: #4d5ae5;
}

/* ------------- */
.modal-bnt-send {
  display: block;
  min-width: 169px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms var(--time-func);
}
/* ------ */

.modal-text-span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-image: url("../img/modal-check-icon.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: #fff;
}

.policy-checkbox:checked + .modal-text-span::before {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.comment-container {
  margin-bottom: 16px;
}

.policy-label {
  display: block;
  margin-bottom: 24px;
}

/* Hover-6-6-6-6 */
.modal-container:hover .modal-svg,
.modal-container:focus .modal-svg {
  fill: #4d5ae5;
}

.modal-container:hover .modal-input,
.modal-container:focus .modal-input,
.modal-container:hover .modal-area,
.modal-container:focus .modal-area {
  border: 1px solid #4d5ae5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* -------------Subscribe-------------- */

.subscribe-btn {
  display: flex;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  transition: background-color 250ms var(--time-func);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* width: 165px;
  height: 40px; */
}

.subscribe-header {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
}
.subscribe-input {
  width: 264px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 24px;
  padding-left: 16px;
  color: white;
}

.subscribe-form {
  margin-left: 80px;
}
.subscribe-svg {
  margin-left: 16px;
}
.policy-label:hover .modal-text-span::before,
.policy-label:focus .modal-text-span::before {
  border-color: #404bbf;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.modal-bnt-send:hover,
.modal-bnt-send:focus {
  background-color: #404bbf;
}

/* border: 1px solid #4d5ae5;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 4px; */
